@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;;
}
body{
    font-family: 'poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --webkit-font-smoothing:antialiased;
}
header{
    background-color: #161616;
     clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 92%, 0 100%);
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}

header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-right:2rem;
    text-transform: uppercase;
    transition:all .3s ease;

}
header nav .left a:hover{
    color: seagreen;
}
header nav {
    padding:2rem 0;
    margin-top: 0%;
}
header nav .branding{
    margin-right:3rem;
}
header nav .branding img{
    max-width: 60px;
    margin-top: 0%;
    border-color: var(--dark);
}
.hero .left img{
    height: 450px;
}
.hero .right{
    color:var(--pure);
    margin-left: 2rem;
}
.hero{
    padding:3rem 0;;
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color:var(--primary);
}
.hero .right p{
    line-height:1.9;
    margin-bottom:2rem;
}
.hero .right {
    margin-top: -2rem;
    padding-bottom: 3%;
}
.hero .left {
    margin-top: -1rem;
    padding-bottom: 5%;
    margin-right: 2rem;
}
section{
    padding:6rem 0;
}
section.about .about-me-img{
    height: 450px;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}
section.about h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
section.about p{
    font-family: 'lato', sans-serif;
    color:var(--ternary);
    line-height: 1.9;
    margin-bottom: 2rem;
}
section.about .social{
    display: flex;
}
section.about .social a{
    background: rgb(252, 224, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    width: 40px;
    height: 40px;
    margin-right: 0.6rem;
    transition: .3s ease;
}
section.about .social a:hover{
    background: var(--primary);
}
section.about .social a img{
    width: 100%;
    height: 100%;
    padding: 0.4rem;
}
.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;

}
.section-heading + p{
    color: var(--ternary);
    font-family: 'lato';
    margin-bottom: 6rem;
    text-align: center;
}
.section-heading span{
    color: var(--primary);

}
section.services{
    background: var(--light);
}
section.services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.services .card-wrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 4rem;
    text-align: center;
    transition: .3s ease;
}
section.services .card-wrapper .card img{
    width: 100px;
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'lato', sans-sarif;
    color: var(--ternary);
    line-height: 1.6;

}
section.services .card-wrapper .card:hover{
    background: var(--dark);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p{
    color:var(--pure);
}




